body {
    padding-top: 50px;
    padding-bottom: 20px;
     background-color: #C8E8FF;
     
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
button  {
    margin-right: 12em;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.searchform {
    width: 60%;
}

#p4 {
    font-style: italic;
}



#block_container
{
    text-align:center;
}


#block1{
    float: left;
    display: inline;
}

#block2
{
   
   display: inline;
}

#bild1 {
    
    width: 100%;
    height: 220px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #000;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #000;
}