@{
    ViewBag.Title = "Om oss";
    ViewBag.Message = "JMS Garage 2.0 - Hos oss får du plats...";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p id="p1">Vill du slippa parkeringsvakter? Vill du undvika höga perkeringsavgifter? Är du också trött på att behöva köra varv efter i 
    innerstan och svärande leta en tom parkeringsplats utan gula markeringar efter trottoarkanten? 
    </p>


<p id="p2">  - Gör som vi på JMS Garage 2.0 - parkera ditt fordon virtuellt istället.</p>


<section class="row">
    <div class="fill-screen fixed-attachment" style="background-image: url(images/Parkeringsbilder/parkering10.jpg)">
    </div>
</section>


<p id="p3">  JSM Garage 2.0 - Parkeringsbrist schmarkeringsbrist... </p>