@{
    ViewBag.Title = "Om oss";
    ViewBag.Message = "Vi är ett garage med många platser";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Hos oss kan du alltid parkera, eftersom vi är ett garage med oändligt med platser. Vi är även billigast i stan. </p>
