@{
    ViewBag.Title = "Om oss";
    ViewBag.Message = "Parkeringsbrist schmarkeringsbrist - hos oss får du plats...";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<p id="p1">
    
</p>

<p id="p2">
    Vill du slippa parkeringsvakter? Vill du undvika höga perkeringsavgifter? Är du också trött på att svärande behöva köra varv efter i
    innerstan och leta en tom parkeringsplats utan gula markeringar efter trottoarkanten?
</p>

<p id="p3"> Gör som vi - parkera ditt fordon virtuellt istället. </p>


<img src="../../Images/Parkeringsbilder/parkering10.jpeg" width="650">


<p id="p4"> Alla vill parkera hos JMS GArage 2.0...</p>


@*<div class="container-fluid">
    <div class="row">
        <div class="fill-screen" style="background-image: url(../../Images/Parkeringsbilder/parkering10.jpeg)">
        </div>
    </div>

    <footer class="container-fluid">
        <h1>FOOTER</h1>
    </footer>

    <!-- FÖR ATT FÅ NAVBAR ATT FUNGERA -->
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/classie.js"></script>
    <script src="../../Scripts/cbpAnimatedHeader.js"></script>

    <!-- END NAV BAR -->

    <script>
        $(function () {
            $(window).on("load resize", function () {
                $(".fill-screen").css("height", window.innerHeight);
            });
        });
    </script>*@
