@{
    ViewBag.Title = "Kontakta oss";
}

@{
    ViewBag.Message = "Våra kontaktuppgifter:";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<img src="../../Images/Parkeringsbilder/parkering6.jpeg" alt="parkering6" width="650" />

<address>
    Besök oss genom att gå ner i garaget under Lexicon...<br />
    
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@JMSGarage.com</a><br />
    <strong>Marknadsföring:</strong> <a href="mailto:Marketing@example.com">Marketing@JMSGarage.com</a>
</address>



