@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JMS Garage 2.0</h1>
    <p class="lead">JMS Garage 2.0 tar garaget in i framtiden...</p>
    <p><a href="Vehicles/" class="btn btn-primary btn-lg">Gå direkt till garaget &raquo;</a></p>

    
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Parkera</h2>
        <p>
            Hos JMS Garage 2.0 kan du parkera utan att få passiv-agressiva utbrott efter att ha letat i timmar utan att hitta en p-plats...
        </p>
        <p><a class="btn btn-default" href="Vehicles/Create/">Parkera direkt &raquo;</a></p>
        <img id="bild1" src="~/Images/Parkeringsbilder/parkering1.jpg">
       
    </div>
    <div class="col-md-4">
        <h2>Böter Schmöter...</h2>
        <p>Inga fler parkeringsböter när du parkerar virtuellt hos JMS Garage 2.0. </p> <br>
        <p><a class="btn btn-default" href="http://www.stockholm.se/TrafikStadsplanering/Parkering/Felparkering/">Läs mer om tradionell parkering &raquo;</a></p>
        <img id="bild1" src="~/Images/Parkeringsbilder/parkering20.jpg">
    </div>
    <div class="col-md-4">
        <h2>Vi har kunskapen...</h2>
        <p>På JMS Garage 2.0 har vi en lång tradition av virtuell parkering ända sedan 22 oktober 2015, ungefär vid halv elva-tiden...</p>
        <p><a class="btn btn-default" href="Vehicles/">Till garaget &raquo;</a></p>
        <img id="bild1" src="~/Images/Parkeringsbilder/parkering21.jpg">
    </div>
</div>